<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="content-type" content="text/html">
        <meta name="author" content="Feinimouse">
        <title><%=title%></title>
        <!-- github markdown -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/3.0.1/github-markdown.css">
        <!-- highlight.js language css -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.10/styles/default.min.css">
        <!-- my css -->
        <link rel="stylesheet" href="<%=cssUrl%>">
        <!-- my js -->
        <script type="module" src="<%=jsUrl%>"></script>
    </head>
    <body>
        <header class="header">
            <div class="hea hea-title">
                <div class="hea hea-menubar">
                    <svg focusable="false" viewBox="0 0 24 24"><path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path></svg>
                </div>
                <div class="hea hea-logo">
                    <img src="<%=logoUrl%>">
                </div>
            </div>
            <div class="hea">
                <form class="hea">
                    <div class="hea-searcher">
                        <svg class="hea-input-icon" width="24" height="24" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M16.3198574,14.9056439 L21.7071068,20.2928932 L20.2928932,21.7071068 L14.9056439,16.3198574 C13.5509601,17.3729184 11.8487115,18 10,18 C5.581722,18 2,14.418278 2,10 C2,5.581722 5.581722,2 10,2 C14.418278,2 18,5.581722 18,10 C18,11.8487115 17.3729184,13.5509601 16.3198574,14.9056439 Z M10,16 C13.3137085,16 16,13.3137085 16,10 C16,6.6862915 13.3137085,4 10,4 C6.6862915,4 4,6.6862915 4,10 C4,13.3137085 6.6862915,16 10,16 Z"/>
                        </svg>
                        <input class="hea-input" type="text">
                    </div>
                </form>
                <div class="hea hea-version">V<%=version%></div>
            </div>
        </header>
        <nav class="nav">
            <ul id="nav-list" class="nav-list">
                <li id="nav-home" class="nav-select">
                    <a href="<%=homeUrl%>">主页</a>
                </li>
                <%-menu%>
            </ul>
        </nav>
        <main class="main">
            <article class="markdown-body" id="markdown-body" data-rootsId="<%=rootsId%>">
<%-content%>
            </article>
        </main>
    </body>
</html>
